body {
    font-family: Arial, sans-serif;
    background-color: #a281d7;
    margin: 0;
}



.post {
    border: 1px solid #008ffd;
    padding: 20px;
    margin-bottom: 20px;
}

.delete {
    background-color: #ff4d4d;
    color: white
}